body {
    background: url("assets/images/index/sleep_cat.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.center_div h1 {
    font-size: 40px;
    margin: 20px 0;
}

.center_div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image_div {
    margin-top: 130px;
}

.personal_photo {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.personal_photo img {
    width: 100%;
    height: auto;
}

.center_bar {
    background-color: #ffffff66;
}

.description {
    font-size: larger;
}

.icon {
    float: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon a {
    margin-top: 30px;
}

.icon img {
    height: 60px;
    width: auto;
}

.words {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 20 0 50 0px;
}

.words p {
    margin: 0;
}

footer {
    bottom: 0;
    height: 44px;
    line-height: 24px;
    padding: 10px;
    width: 100%;
    color: #ffffff66;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0px;
    padding-left: 0px;
}

.footer_div {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}